node_modules
/.nyc_output
/documentation
/src/tools
/src/contracts/abi/*
/src/contracts/LandSaleProofs/*
/src/scripts/sectors
/src/scripts/output
yarn.lock
Dockerfile*
*.yaml
*.yml
*.json
*.png
*.sh
*.puml
*.md
*.html
*.css
sonar-project.properties
*.sql
*.properties
*.mdx
